@use "../variables" as *;
@use "sass:math";
@use "sass:color";

.clock-container {
  margin: $window-margin;
  color: $fg;
  .unit {
    padding: $window-desktop-clock-padding;
    > * {
      margin: 0 0.7rem;
    }
  }

  > box {
    background-color: color.adjust($bg, $alpha: calc($window-opacity - 1));
    border-radius: $window-border-radius;
    box-shadow:
      0 0 0 $window-border-width $window-border-color,
      $window-shadow-offset $window-shadow-blur $window-shadow-spread
        color.adjust(
          $window-shadow-color,
          $alpha: calc($window-shadow-opacity - 1)
        );

    .box-label {
      font-size: 0.9rem;
      font-style: italic;
    }
  }

  label {
    font-size: 3rem;
    color: $fg;
    font-family: "Google Sans Display";
    font-weight: 700;
  }
}
