@use "../variables" as *;
@use "sass:color";

.osd-container {
    background-color: color.adjust($bg, $alpha: -0.1);
    border: 2px solid $fg;
    border-radius: $window-border-radius;
    padding: 20px;
    box-shadow: $window-shadow-offset $window-shadow-blur $window-shadow-spread color.adjust($window-shadow-color, $alpha: -0.2);

    .osd-content {
        margin-bottom: 10px;

        .osd-icon {
            font-size: 3rem;
            color: $accent;
        }

        .osd-label {
            font-size: 1.5rem;
            color: $fg;
            font-weight: bold;
        }
    }

    .osd-bar {
        min-width: 200px;
        min-height: 10px;

        trough {
            background-color: color.adjust($fg, $alpha: -0.8);
            border-radius: 99px;

            block.filled {
                border-radius: 99px;
                background-color: $accent;
            }
        }
    }
}